<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DeansLand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DeansStock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="MasterConnection" connectionString="Data Source=DESKTOP-R1PQ05P;Initial Catalog=Master;Integrated Security=true"
      providerName="SqlServer" />
    <add name="POSConnectionString" connectionString="Data Source=DESKTOP-R1PQ05P;Initial Catalog=Land;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="DeansLand.Properties.Settings.LandConnectionString"
      connectionString="Data Source=DESKTOP-R1PQ05P;Initial Catalog=Land;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    
  <runtime>
    
         <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    
                <dependentAssembly>
    
                       <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
    
                       <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
    
                </dependentAssembly>
    
                <dependentAssembly>
    
                       <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
    
                       <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
    
                </dependentAssembly>
    
                <dependentAssembly>
    
                       <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
    
                       <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
    
                </dependentAssembly>
    
                <dependentAssembly>
    
                       <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
    
                       <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
    
                </dependentAssembly>
    
         </assemblyBinding>
    
  </runtime>
  <applicationSettings>
    <DeansLand.Properties.Settings>
      <setting name="ThemeName" serializeAs="String">
        <value>ControlDefault</value>
      </setting>
    </DeansLand.Properties.Settings>
  </applicationSettings>
</configuration>